/*HEADER*/



/*IDIOMA*/
.form-select{
    width: 10rem;
    height: 2.3rem;
}

/*BANNER*/
.jumbotron{
    background-image: url(Recursos-definición.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
    position: relative;
}
.jumbotron::before{
    content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}
.jumbotron h1,
.jumbotron p {
	
	color: #fff;
	position: relative
}
.jumbotron hr{
    color: white;
}

/*BANNER2*/
h2{
    font-size: 2.5rem;
    color: black;
    text-align: center;
    line-height: 3.6rem;
}
/*CARDS*/



/*DESPLIEGUE*/
.despliegue {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

 

/*FOOTER*/
footer{
    color: white;
}
footer a{
    text-decoration: none;
}
footer h5{
   font-weight: bold;
}
footer a:hover{
    text-decoration: underline;
}

/*media queries*/
@media (max-width: 575.98px) { 
    p{
        font-size: 1rem;
        line-height: 1.6rem;
}
    h1{
    font-size: 1.1rem;
    font-weight: bold;
} 
.form-select{
    width: 6rem;
    margin-left: auto;
}
h2{

    font-size: 1.9rem;
}

}



@media (min-width: 576px) and (max-width: 767.98px) { 
    .form-select{
        
        margin-left: auto;
    }
    
 }
@media (min-width: 768px) and (max-width: 991.98px) { 
    .form-select{
        
        margin-left: auto;
    }
    
 }
@media (min-width: 992px) and (max-width: 1199.98px) { 
    
 }
@media (min-width: 1200px) {  }